<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/recordform.css" rel="stylesheet">
    <title>Admin Signup</title>
</head>

<body>
<div class="container">
    <div class="auth-form-body">
            <h1 class="intro-title mb-4">Welcome Admin</h1>


        <form class="form-signin" id="updateform" action="/updaterecord" method="get" enctype="multipart/form-data">
            <div class="form-label-group">
                <input type="text" id="track_id" name="track_id" class="form-control"
                       placeholder="Enter ID" autofocus required>
                <label for="track_id">Enter ID To Update</label>
            <button class="btn btn-primary btn-block mt-4" type="submit">Update</button>
            <div style="color:#00ff43" th:text="${update}" ></div>
            </div>
        </form>


        <form class="form-signin" id="deleteform" action="/deleterecord" method="post" enctype="multipart/form-data">
            <div class="form-label-group">
                <input type="text" id="track_id_" name="track_id" class="form-control"
                       placeholder="Enter ID" autofocus required>
                <label for="track_id_">Enter ID To Delete</label>
            <button class="btn btn-primary btn-block mt-4" type="submit">Delete Record</button>
            <div style="color:#00ff43" th:text="${delete}" ></div>
            </div>
        </form>

        <form action="/createrecord" method="get">
        <button class="btn btn-primary btn-block mt-4" type="submit">Add Record</button>
        <div style="color:#00ff43" th:text="${create}" ></div>
        </form>

        <form action="/recordlist" method="get">
            <button class="btn btn-primary btn-block mt-4" type="submit">Get ALL Records</button>
        </form>

        <form action="/logout">
        <button class="btn btn-primary btn-block mt-4"  type="submit">LOGOUT</button>
        </form>

    </div>
</div>
</body>
</html>
